.dataTables_wrapper {
    background-color: white;
    /* padding: 1rem; */
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 10px;
    border-bottom: 0 !important
}

.dataTables_info {
    display: none;
}

table.dataTable.no-footer {
    border-bottom: 0 !important;
}

.dataTables_wrapper .dataTables_filter {
    float: none !important;
    text-align: left !important;
}

.dataTables_filter label {
    visibility: hidden;
    width: 100%;
    /* opacity: 0; */
}

.dataTables_filter label input {
    visibility: visible;
    opacity: 1;
    width: 100%;
    border: 0 !important;
    display: inline-block;
    margin-bottom: 10px;
}

.dataTables_filter label input:focus {
    outline: none;
}