.dataTables_wrapper {
    background-color: white;
    /* padding: 1rem; */
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 10px;
    border-bottom: 0 !important
}

.dataTables_info {
    display: none;
}

table.dataTable.no-footer {
    border-bottom: 0 !important;
}

.dataTables_wrapper .dataTables_filter {
    float: none !important;
    text-align: left !important;
}

.dataTables_filter label {
    visibility: hidden;
    width: 100%;
    /* opacity: 0; */
}

.dataTables_filter label input {
    visibility: visible;
    opacity: 1;
    width: 100%;
    border: 0 !important;
    display: inline-block;
    margin-bottom: 10px;
}

.dataTables_filter label input:focus {
    outline: none;
}

.camera {
    position: relative;
    width: 100%;
    height: 180px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px dashed #b9b9b9;
    /* overflow: hidden; */
    cursor: pointer;
    transition: all cubic-bezier(0.32, 0.73, 0.71, 0.43) .25s;
}

.glob__dragDrop--input {
    width: 0px;
    opacity: 0;
}

#frameRecto,
#frameRecto2 {
    max-height: 100%;
    max-width: 100%;
}

#clearframeRecto,
#clearframeRecto2 {
    right: -20px;
    top: -20px;
}

.cropper-container.cropper-bg {
    width: 100% !important;
    min-height: 380px;
}

.bottom-panel {
    position: fixed;
    left: 0;
    bottom: -1px;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.146);
    padding: 20px;
    background-color: #FAFAFA;
    border-radius: 40px 40px 0px 0px;
}

.bottom-panel ul {
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.bottom-panel ul li {
    text-align: center;
    display: inline-block;
    font-size: 14px;
    color: #222222;
}

.bottom-panel ul li a {
    color: #222222;
}

.luxa-footer-item {
    background: transparent;
    border-radius: 25px;
    padding: 5px 10px;
    align-items: center !important;
    pointer-events: none;
}

.luxa-footer-item img {
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    filter: grayscale(1);
}

.luxa-footer-item.active img {
    width: 20px;
    height: 20px;
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    filter: grayscale(0);
}

.bottom-panel ul li a span {
    font-size: 10px;
    font-weight: 500;
    color: #222222;
    text-transform: capitalize;
    margin-left: 6px;
    display: none;
}

.luxa-footer-item.active {
    background: white;
}

.luxa-footer-item.active span {
    display: inherit;
    color: #1a49f8;
}

.vCard {
    color: black;
}

.vCard:hover {
    color: #000;
}