.dataTables_wrapper {
    background-color: white;
    /* padding: 1rem; */
}

table.dataTable {
    width: 100% !important;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 10px;
    border-bottom: 0 !important
}

.dataTables_info {
    display: none;
}

table.dataTable.no-footer {
    border-bottom: 0 !important;
}

.dataTables_wrapper .dataTables_filter {
    float: none !important;
    text-align: left !important;
}

.dataTables_filter label {
    visibility: hidden;
    width: 100%;
    /* opacity: 0; */
}

.dataTables_filter label input {
    visibility: visible;
    opacity: 1;
    width: 100%;
    border: 0 !important;
    display: inline-block;
    margin-bottom: 10px;
}

.dataTables_filter label input:focus {
    outline: none;
}

.camera {
    position: relative;
    width: 100%;
    height: 180px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px dashed #b9b9b9;
    /* overflow: hidden; */
    cursor: pointer;
    transition: all cubic-bezier(0.32, 0.73, 0.71, 0.43) .25s;
}

.glob__dragDrop--input {
    width: 0px;
    opacity: 0;
}

#frameRecto,
#frameRecto2 {
    max-height: 100%;
    max-width: 100%;
}

#clearframeRecto,
#clearframeRecto2 {
    right: -20px;
    top: -20px;
}


.bottom-panel {
    position: fixed;
    left: 0;
    bottom: -1px;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.146);
    padding: 20px;
    background-color: #FAFAFA;
    border-radius: 40px 40px 0px 0px;
}

.bottom-panel ul {
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    align-items: center;
}

.bottom-panel ul li {
    text-align: center;
    display: inline-block;
    font-size: 14px;
    color: #222222;
}

.bottom-panel ul li a {
    color: #ffffff;
}

.luxa-footer-item {
    background: transparent;
    border-radius: 25px;
    padding: 8px 15px;
    align-items: center !important;
    pointer-events: none;
}

.luxa-footer-item img {
    filter: contrast(0);
}

.luxa-footer-item.active img {
    width: 15px;
    height: 15px;
    filter: contrast(1);
}

.bottom-panel ul li a span {
    font-size: 10px;
    font-weight: 500;
    color: #222222;
    text-transform: capitalize;
    margin-left: 6px;
    display: none;
}

.luxa-footer-item.active {
    background: #1a49f8;
}

.luxa-footer-item.active span {
    display: inherit;
    color: #ffffff;
}

.vCard {
    color: black;
}

.vCard:hover {
    color: #000;
}

#imageRecto {
    width: 100%;
    height: auto;
}

/* .cropper-container.cropper-bg {
    width: 100% !important;
    height: 300px !important;
    max-height: 80vh !important
} */

.cropper-bg,
.cropper-crop-box {
    width: 100% !important;
}


.btn-group-toggle .btn-check:checked+.color {
    position: relative;
}

.btn-group-toggle .btn-check:checked+.color::after {
    position: absolute;
    z-index: 1;
    content: "\e92b";
    font-family: Feather !important;
    color: #fff;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.466);
}

.componentManuel .camera {
    height: 130px;
}

.avatar-img {
    object-fit: contain;
}

.accordion-body {
    background: white;
    padding: 1rem 0;
}

.accordion-item {
    background-color: #f9fbfd;
    border: 0;
}

.accordion-button {
    font-size: .625rem;
    background-color: #f9fbfd;
    color: #95aac9;
    font-weight: 600;
    letter-spacing: .08em;
    text-transform: uppercase;
}

.damage__view svg {
    width: 100%;
    height: 100%;
}

input[type=range].custom-slider.custom-slider-bullet {
    height: 2px;
    width: 100%;
    color: #FFF;
    background: transparent;
    background-image: linear-gradient(to bottom, #FFF, #999, #FFF);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 25%;
}


/*==============================*/


/* le curseur                   */


/*==============================*/

input[type=range].custom-slider.custom-slider-bullet::-webkit-slider-thumb {
    width: 2em;
    padding: 0.25em;
    /* largeur du bord */
    border: 1px solid #888;
    border-radius: 50%;
    box-shadow: 0 0 .5em #FFF inset;
    background: linear-gradient(#888, #FFF) content-box,

        linear-gradient(-90deg, #888, #DDD) border-box;
}

input[type=range].custom-slider.custom-slider-bullet::-moz-range-thumb {
    width: 2em;
    padding: 0.25em;
    /* largeur du bord */
    border: 1px solid #888;
    border-radius: 50%;
    box-shadow: 0 0 .5em #FFF inset;
    background: linear-gradient(#888, #FFF) content-box,
        /* le centre */
        linear-gradient(-90deg, #888, #DDD) border-box;
    /* le bord */
}

input[type=range].custom-slider.custom-slider-bullet::-ms-thumb {
    width: 2em;
    padding: 0.25em;
    /* largeur du bord */
    border: 1px solid #888;
    border-radius: 50%;
    box-shadow: 0 0 .5em #FFF inset;
    background: linear-gradient(#888, #FFF) content-box,
        /* le centre */
        linear-gradient(-90deg, #888, #DDD) border-box;
}

.customHtml {
    padding: 5px;
    border-radius: 30px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border-width: 0 0 1px !important;
    background: transparent !important;
    border-color: #1a49f8;
    color: #12263f;
    margin-top: -1px;
    padding: 1.25rem .75rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    background: transparent !important;
    border-radius: 0 !important;
    border-width: 1px 0 0 !important;
    color: #95aac9 !important;
    margin-top: -1px;
    padding: 1.25rem .75rem !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: transparent !important;
    border: 0 !important;
    color: #12263f !important;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    background-color: transparent !important;
    border-radius: 0 !important;
    border-width: 1px 0 0 !important;
    color: #95aac9 !important;
    margin-top: -1px;
    padding: 1.25rem .75rem !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled a,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover a,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active a {
    color: #95aac9 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button a {
    color: #12263f;
}

.paginate_button.previous {
    border-right: solid #e3ebf6 !important;
}

@media screen and (max-width: 480px) {
    body {
        padding-bottom: 100px;
    }
}