@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --blue: #2C7BE5;
    --indigo: #727cf5;
    --purple: #6b5eae;
    --pink: #ff679b;
    --red: #E63757;
    --orange: #fd7e14;
    --yellow: #F6C343;
    --green: #00D97E;
    --teal: #02a8b5;
    --cyan: #39afd1;
    --white: #FFFFFF;
    --gray: #95AAC9;
    --gray-dark: #3B506C;
    --primary: #2C7BE5;
    --secondary: #6E84A3;
    --success: #00D97E;
    --info: #39afd1;
    --warning: #F6C343;
    --danger: #E63757;
    --light: #EDF2F9;
    --dark: #12263F;
    --white: #FFFFFF;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Cerebri Sans", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

::selection {
    background: transparent;
}

::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); */
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #607d8b;
    border-color: #607d8b;
}

.btn-outline-primary {
    color: #12263f;
    border-color: #12263f;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #12263f;
    border-color: #12263f;
}


/* .btn-group-sm>.btn.btn-icon,
.btn.btn-icon.btn-sm {
    height: calc(1.5em + 1.1rem + 2px);
    width: calc(1.5em + 1.1rem + 2px);
    flex: inherit;
} */

#logo_account {
    fill: #12263f;
    max-width: 160px;
}

a {
    color: #12263f;
}

.text-primary {
    color: #12263f!important;
}

.border-primary {
    border-color: #12263f!important;
}

.bg-ellipses.bg-dark {
    background-image: radial-gradient(#04080c, #12263f 70%, transparent 70.1%);
}

.btn-primary,
.badge-primary {
    color: #fff;
    background-color: #12263f;
    border-color: #12263f;
}

.btn-success {
    color: #fff;
    background-color: #00d97e;
    border-color: #00d97e;
}

.btn-primary:hover {
    background-color: #07101a;
    border-color: #07101a;
}

.btn-success:hover {
    color: #fff;
    background-color: #00b368;
    border-color: #00a660;
}

.navbar-vertical.navbar-expand-md.fixed-left,
.navbar-vertical.navbar-expand-md .navbar-user {
    border-width: 0;
    background-color: #FFFFFF;
}

.navbar-vertical .navbar-nav .nav-link i {
    font-size: 24px;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #4caf50;
    background-color: #4caf50;
}

.btn-outline-secondary:hover {
    color: #6e84a3;
    background-color: #dae4f0;
    border-color: #dae4f0;
}

#accordion .card {
    box-shadow: none;
}

#accordion .card-header .remove {
    opacity: 0;
    transition: opacity .3s ease-out;
}

#accordion .card-header:hover .remove {
    opacity: 1;
}

.ribbon-wrapper {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -5px;
    right: -5px;
    overflow: hidden;
}

.ribbon-content {
    font-size: 12pt;
    font-weight: bold;
    color: #12263f;
    text-align: center;
    padding: 7px 0;
    transform: rotate(45deg);
    width: 130px;
    position: relative;
    top: 15px;
    left: 1px;
    box-shadow: 0 0 2px 1px rgb(148 148 148 / 23%);
    background: #ffc107;
    /* text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); */
}

.ribbon-content:before,
.ribbon-content:after {
    content: "";
    border-top: 2px solid #ff9800;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    position: absolute;
    bottom: -2px;
}

.ribbon-content:before {
    left: 0;
}

.ribbon-content:after {
    right: 0;
}


/* END RIBAN */

.workspace__user {
    transition: all ease-in-out .3s;
}

.workspace__user:hover {
    background-color: #f5f8fa
}

.workspace__user button[aria-expanded='true'] {
    background-color: #edf2f9;
}

.modal-card .card-body {
    max-height: none;
}

.sub_access {
    display: none
}


/*  */

@media (min-width: 576px) {
    .modal-sm {
        max-width: 400px;
    }
}

.custom_price .nav-link {
    font-size: 28px;
    letter-spacing: -1px;
}